USE [CovidSP]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 3/30/2022 8:29:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Category_id] [int] NOT NULL,
	[Name] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comment]    Script Date: 3/30/2022 8:29:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[Comment_id] [int] NOT NULL,
	[Content] [nvarchar](500) NULL,
	[User_id] [int] NOT NULL,
	[Question_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Comment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 3/30/2022 8:29:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[forumId] [int] NOT NULL,
	[userName] [nvarchar](100) NOT NULL,
	[feedback] [nvarchar](150) NULL,
	[feedbackDate] [date] NOT NULL,
	[rate] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Forum]    Script Date: 3/30/2022 8:29:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Forum](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NOT NULL,
	[name] [nvarchar](max) NOT NULL,
	[previewImgSrc] [nvarchar](150) NULL,
	[rate] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[News]    Script Date: 3/30/2022 8:29:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[News_id] [int] NOT NULL,
	[Content] [nvarchar](max) NULL,
	[Image] [varchar](200) NULL,
	[Date] [date] NULL,
	[Category_id] [int] NULL,
	[title] [nvarchar](max) NULL,
	[author] [int] NOT NULL,
	[Status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[News_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Question]    Script Date: 3/30/2022 8:29:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Question](
	[Question_id] [int] NOT NULL,
	[Image] [varchar](200) NULL,
	[Content] [nvarchar](500) NULL,
	[Date] [date] NULL,
	[Type] [nvarchar](50) NULL,
	[Category_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Question_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 3/30/2022 8:29:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Role_id] [int] NOT NULL,
	[Role_name] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserInfo]    Script Date: 3/30/2022 8:29:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserInfo](
	[User_id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](20) NULL,
	[Password] [varchar](10) NULL,
	[Phone] [int] NULL,
	[Image] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[Address] [nvarchar](50) NULL,
	[Role_id] [int] NULL,
	[Dob] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[User_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Category] ([Category_id], [Name]) VALUES (1, N'Self help')
INSERT [dbo].[Category] ([Category_id], [Name]) VALUES (2, N'HealthyFood')
GO
SET IDENTITY_INSERT [dbo].[Feedback] ON 

INSERT [dbo].[Feedback] ([id], [forumId], [userName], [feedback], [feedbackDate], [rate]) VALUES (2, 1, N'admin', N'good', CAST(N'2022-03-29' AS Date), 1)
SET IDENTITY_INSERT [dbo].[Feedback] OFF
GO
SET IDENTITY_INSERT [dbo].[Forum] ON 

INSERT [dbo].[Forum] ([id], [userId], [name], [previewImgSrc], [rate]) VALUES (1, 26, N'admin', N'https://bfi.uchicago.edu/wp-content/uploads/2018/06/Anh_Nguyen_photo.jpg', NULL)
SET IDENTITY_INSERT [dbo].[Forum] OFF
GO
INSERT [dbo].[News] ([News_id], [Content], [Image], [Date], [Category_id], [title], [author], [Status]) VALUES (1, N'Ngày 28-3, Sở Y tế Hà Nội đăng ký bổ sung 180.000 ca mắc Covid-19 trên Hệ thống Quốc gia quản lý ca bệnh Covid-19 sau khi rà soát, bổ sung đầy đủ thông tin.
', N'https://vnanet.vn/Data/Articles/2021/05/29/5469029/vna_potal_dich_covid-19_cap_nhat_tinh_hinh_sang_2952021_stand.jpg', CAST(N'2022-03-29' AS Date), 1, N'Dịch Covid-19 hôm nay: Số mắc giảm xuống 83.376 ca, Hà Nội bổ sung 180.000 F0', 7, 1)
INSERT [dbo].[News] ([News_id], [Content], [Image], [Date], [Category_id], [title], [author], [Status]) VALUES (2, N'Trong tháng 4 tới, Việt Nam sẽ triển khai tiêm vắc-xin Covid-19 cho trẻ 5 đến dưới 12 tuổi sau khi Úc viện trợ khoảng 13,7 triệu liều vắc-xin Pfizer và Moderna. Theo chuyên gia, dù biểu hiện bệnh Covid-19 của trẻ em nhẹ nhưng vẫn nên tiêm vắc-xin.', N'https://nld.mediacdn.vn/291774122806476800/2022/3/28/edit-mg7563-16376552392142002579761-16484543687141120010895.jpeg', CAST(N'2022-03-01' AS Date), 1, N'Tại sao trẻ em nên tiêm vắc-xin Covid-19?', 7, 1)
INSERT [dbo].[News] ([News_id], [Content], [Image], [Date], [Category_id], [title], [author], [Status]) VALUES (3, N'Mộ số loại trái cây cung cấp vitamin c giúp tăng cường đề kháng.', N'img/demopic/2.jpg', CAST(N'2021-06-09' AS Date), 1, N'Đồ uống trái cây tốt cho sức khoẻ', 23, 1)
GO
INSERT [dbo].[Role] ([Role_id], [Role_name]) VALUES (0, N'guest')
INSERT [dbo].[Role] ([Role_id], [Role_name]) VALUES (1, N'admin')
INSERT [dbo].[Role] ([Role_id], [Role_name]) VALUES (2, N'creator')
GO
SET IDENTITY_INSERT [dbo].[UserInfo] ON 

INSERT [dbo].[UserInfo] ([User_id], [Username], [Password], [Phone], [Image], [Email], [Address], [Role_id], [Dob]) VALUES (7, N'abcxyz', N'123456', 913521961, NULL, N'llalsd@gmail.com', N'vietnam', 3, CAST(N'2022-04-01' AS Date))
INSERT [dbo].[UserInfo] ([User_id], [Username], [Password], [Phone], [Image], [Email], [Address], [Role_id], [Dob]) VALUES (1024, N'admin', N'admin', 12345678, NULL, N'admin@gmail.com', N'hanoi', 1, CAST(N'2022-04-03' AS Date))
INSERT [dbo].[UserInfo] ([User_id], [Username], [Password], [Phone], [Image], [Email], [Address], [Role_id], [Dob]) VALUES (1025, N'creator ', N'creator', 73934887, NULL, N'creator@gmail.com', N'vn', 2, CAST(N'2022-03-04' AS Date))
SET IDENTITY_INSERT [dbo].[UserInfo] OFF
GO
ALTER TABLE [dbo].[News] ADD  CONSTRAINT [df_Status]  DEFAULT ('0') FOR [Status]
GO
ALTER TABLE [dbo].[Role] ADD  CONSTRAINT [df_role]  DEFAULT ('0') FOR [Role_id]
GO
ALTER TABLE [dbo].[UserInfo] ADD  CONSTRAINT [df_roleUser]  DEFAULT ('0') FOR [Role_id]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD FOREIGN KEY([Question_id])
REFERENCES [dbo].[Question] ([Question_id])
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD FOREIGN KEY([User_id])
REFERENCES [dbo].[UserInfo] ([User_id])
GO
ALTER TABLE [dbo].[News]  WITH CHECK ADD FOREIGN KEY([Category_id])
REFERENCES [dbo].[Category] ([Category_id])
GO
ALTER TABLE [dbo].[Question]  WITH CHECK ADD FOREIGN KEY([Category_id])
REFERENCES [dbo].[Category] ([Category_id])
GO
ALTER TABLE [dbo].[UserInfo]  WITH CHECK ADD FOREIGN KEY([Role_id])
REFERENCES [dbo].[Role] ([Role_id])
GO
