<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BoardNewListController</servlet-name>
        <servlet-class>controller.BoardNewListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BoardNewDetailController</servlet-name>
        <servlet-class>controller.BoardNewDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfileController</servlet-name>
        <servlet-class>controller.UpdateProfileController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
      <url-pattern>/view/client/news-list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/RegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BoardNewListController</servlet-name>
        <url-pattern>/BoardNewListController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BoardNewDetailController</servlet-name>
        <url-pattern>/view/client/news-list-detail</url-pattern>
    </servlet-mapping>
   
   
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
